pandas==1.3.5
spyder
spyder-kernels
pymongo
jupyter
openpyxl
plotly
matplotlib
scipy
scikit-learn
jsonschema
dash
dash-bootstrap-components
jupyter-dash
plotly
flask
flask-sqlalchemy
sqlalchemy
ipykernel